.ios-picker {
  font-size: 1rem;
  height: 10em;
  position: relative;
  background-color: #fff;
  overflow:hidden;

  .ios-list {
    height: 6.25em;
    position: relative;
    top:4em;
  }

  .ios-item {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: center;
    will-change: transform;
    contain: strict;
    height: 2em;
    line-height: 2;
    font-size:1em;
  }

  .ios-handle-layer {
    position: absolute;
    width: 100%;
    height: calc(100% + 2px);
    left: 0;
    right: 0;
    top: -1px;
    bottom:-1px;

    .ios-top {
      border-bottom: 1px solid #c8c7cc;
      background: linear-gradient(180deg, #fff 10%, hsla(0, 0%, 100%, .7));
      -webkit-transform: translateZ(5.625em);
      transform:translateZ(5.625em)
    }

    .ios-middle {
      height:2em;
    }

    .ios-bottom {
      border-top: 1px solid #c8c7cc;
      background: linear-gradient(0deg, #fff 10%, hsla(0, 0%, 100%, .7));
      -webkit-transform: translateZ(5.625em);
      transform:translateZ(5.625em);
    }
  }
}

.ios-text-align-center {
  text-align: center;
}

.ios-text-align-left {
  text-align: left;
}

.ios-text-align-right {
  text-align: right;
}

.display-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:flex;
}

.flex-direction-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction:column
}

.flex-direction-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction:row
}

@for $i from 1 through 12 {
  .flex-grow-#{$i} {
    -webkit-flex: $i;
    -ms-flex: $i;
    flex: $i;
  }
}